:root {
    --background-color: #28204C;
    --background-font-color: white;
    --section-color: #28204C;
    --frame-color: #53F2C2;
    --section-font-color: white;
    --section-header-color: var(--frame-color);

    --main-color: #53F2C2;
    --font-color-main: white;
    --back-color: #28204C;
    --front-color:#53F2C2;
    --font-color: white;
}

html, body {
    background-color: var(--background-color);
}

.background-font-color {
    color: var(--background-font-color);
}

.img_logo {
    width: 5vh;
    height: 5vh;
}

.contact_link, .contact_link:hover {
    margin-left: 0.4vw;
    color: var(--font-color-main);
    color: var(--font-color-main);
    font-size: 0.75rem;
}

.list-group-item {
    color: var(--front-color);
    background-color: inherit;
    border-style: none;
    text-align: left;
}

.list-group-item:hover {
    background-color: inherit;
    color: white;
}

.list-group-item.active {
    color: #333333;
    background-color: var(--frame-color);
    border-color: var(--frame-color);
}

.link-undecorated {
    color: inherit;
    font-style: italic;
}

.link-undecorated:hover {
    color: inherit;
}



.link-img:hover {
    text-decoration: none;
}

.link-text {
    margin-left: 0.4vw;
    color: var(--font-color);
    font-size: 0.75rem;
}

.link-text:hover {
    color: var(--font-color);
}



.section-wrapper {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.section {
    background-color: var(--section-color);
    border-color: var(--frame-color);
    color: var(--font-color-main);
    padding-top: 2.5vh;
    padding-right: 2vw;
    padding-bottom: 1vh;
    padding-left: 2vw;
    border-radius: 1vh;
    border-style: double;
}

.header {
    color: yellow;
    text-align: center;
    margin-bottom: 2.5vh;
}

.exp-info {
    margin-bottom: 1vh;
}
