:root {
    --background-color: Ivory;
    --background-font-color: #212F3D;
    /*#D35400, #F39C12*/
    --decarator-color: #D35400;
    --section-color: var(--background-color);
    --background-font-color-2: #D35400;
    --section-font-color: var(--background-font-color);
    --section-header-color: var(--background-font-color-2);
}

html, body {
    background-color: var(--background-color);
    color: var(--background-font-color);
}

.img_logo {
    width: 5vh;
    height: 5vh;
}

.contact_link, .contact_link:hover {
    margin-left: 0.4vw;
    color: inherit;
    font-size: 0.75rem;
}

.nav-link, .nav-link:focus {
    color: var(--background-font-color);
    background-color: inherit;
    border-style: none;
    text-align: left;
}

.nav-link:hover {
    background-color: inherit;
    color: var(--background-font-color-2);
}

.nav-link.active {
    color: var(--background-font-color-2);
    background-color: inherit;
}

.link-undecorated, .link-undecorated:hover {
    color: inherit;
    font-style: italic;
}

.link-img:hover {
    text-decoration: none;
}

.section-wrapper {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.section {
    border-color: var(--decarator-color);
    color: var(--section-font-color);
    padding-top: 2.5vh;
    padding-right: 2vw;
    padding-bottom: 2.5vh;
    padding-left: 2vw;
    border-radius: 1vh;
    border-style: none;
}

.header {
    color: var(--section-header-color);
    text-align: center;
    margin-bottom: 2.5vh;
}

.experience-info {
    margin-bottom: 1vh;
}

.background-font-color-2 {
    color: var(--background-font-color-2);
}

.decorator {
    color: var(--decarator-color);
    border-color: var(--decarator-color);
}